    * {
    /* border-top: 10px solid #1098ad; */
    margin: 0;
    padding: 0;
    }

    /* PAGE SECTIONS */
    body {
    color: #444;
    font-family: sans-serif;

    border-top: 10px solid #1098ad;
    position: relative;
    }
